@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background: var(--background);
  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER DESKTOP */

.desktopHeader {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 76px;

  background: #000;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px;

  z-index: 99999;
}

/* HEADER MOBILE */

.mobileHeader {
  display: none;
}

/* LOGO */

.logo {
  margin: 0;

  font-size: 42px;
  font-weight: 900;

  line-height: 1;
}

/* ICONES */

.leftIcons,
.rightIcons {
  display: flex;
  align-items: center;
  gap: 20px;

  font-size: 30px;
}

.rightIcons button {
  height: 46px;

  padding: 0 24px;

  border: 1px solid #fff;

  background: transparent;
  color: #fff;

  font-size: 16px;
  font-weight: 700;
}

/* MARQUEE */

@keyframes marquee {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 22s linear infinite;
  width: max-content;
}

/* Remove botão flutuante CookieYes */
.cky-btn-revisit-wrapper {
  display: none !important;
}