@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marquee {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }

}

.animate-marquee {

  animation:
  marquee 22s linear infinite;

  width: max-content;

}



.desktopHeader {
  background: #000;
  color: #fff;

  height: 84px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px;
}

.leftIcons,
.rightIcons {
  display: flex;
  align-items: center;
  gap: 20px;

  font-size: 30px;
}

.logo {
  margin: 0;

  font-size: 42px;

  font-weight: 900;

  line-height: 1;

  display: flex;
  align-items: center;

  height: 100%;
}

.rightIcons button {
  height: 46px;

  padding: 0 24px;

  border: 1px solid #fff;

  background: transparent;

  color: #fff;

  font-size: 16px;
  font-weight: 700;
}

.mobileHeader {
  display: none;
}



  .desktopHeader {
  background: #000;
  color: #fff;

  height: 76px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px;
}

  .mobileHeader {
    background: #000;
    color: #fff;

    height: 56px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 16px;
  }

  .mobileLogo {
  margin: 0;

  font-size: 22px;

  font-weight: 900;

  line-height: 1;

  display: flex;
  align-items: center;

  height: 100%;
}

  .mobileIcon {
    font-size: 24px;

    line-height: 1;
  }

  html,
body {
  margin: 0;
  padding: 0;

  overflow-x: hidden;
}